body{
    font-size: 16px;
    text-align: center;
}
h1{
    font-family: 'sans-serif';
    text-decoration: underline;
}
p{
    font-weight: 600;
    font-size: calc(3 * 16px);
}
li:nth-child(1){
    font-style:italic;
    background-color: greenyellow;
}
li:nth-child(2){
    line-height: 50px;
    background-color: red;
}
li:nth-child(3){
    background-color: brown;
}